.cuadrado { width: 200px;
            height: 200px;
        background-color: aquamarine;}

        @media (min-width: 601px) and (max-width: 1000px) { 
            .cuadrado {
                background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,194,57,1) 75%, rgba(0,212,255,1) 100%);
            }
        }

        @media(max-width: 600px) { 
            .cuadrado {
                background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            }
        }